@model IList<ShoppingList.Models.Supplier>

@{
    ViewBag.Title = "resultat";
    Layout = "~/Views/matkris/_MainLayout.cshtml";
}

<div class="row">

    <div class="col-xs-12">
        <div class="row justify-content-md-center">
            <div class="col-xs-12">
                <h2>Resultat</h2>
            </div>
            <div class="col-xs-12">
                <div class="justify-content-md-center">
                    <div id="result-list">
                        @if (Model != null)
                        {
                            foreach (var supplier in Model)
                            {
                                <ul class="thumbnails list-unstyled">
                                    <li class="row col-xs-12">
                                        <div class="thumbnail" style="padding: 0">
                                            <div class="col-md-3 no-float info-list">
                                                <div style="padding:4px">
                                                    <img alt="300x200" style="width: 100%" src="~/Content/images/@(supplier.Name + ".jpeg")">
                                                </div>
                                                <div class="caption">
                                                    <h2>@supplier.Name</h2>
                                                    <p><a href="http://www.@supplier.Name/" target="_blank">www.@supplier.Name/</a></p>
                                                    @if (Model.IndexOf(supplier) == 0)
                                                    {
                                                        <p><span class="glyphicon glyphicon-check"></span> Vinnare</p>
                                                    }
                                                </div>
                                                <div class="modal-footer" style="text-align: left">
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: @supplier.CalculateMatches()%">
                                                            <span>@supplier.GetMatched() av @supplier.GetTotal()</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-4"><b>@supplier.CalculateMatches()%</b><br /><small>VAROR</small></div>
                                                        <div class="col-xs-4"><b>@supplier.GetMatched()</b><br /><small>ANTAL</small></div>
                                                        <div class="col-xs-4"><b>@supplier.TotalCost</b><br /><small>PRIS</small></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12"><button class="btn btn-default btn-100-width margin-15-top"><span class="glyphicon glyphicon-check"></span> Gå till butik</button></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-9 no-float product-list">
                                                <div class="row" style="max-height:450px">
                                                    @foreach (var product in supplier.Products)
                                                    {
                                                        <ul class="list-group result-flex-container list-special @if (product.MatchType == ShoppingList.Models.MatchType.Match) {<text>item-matched</text>} else if (product.MatchType == ShoppingList.Models.MatchType.Replaced) {<text>item-replaced</text>} else {<text>item-unavailable</text>}">
                                                            <li class="list-group-item justify-content-between result-flex-item clearfix">
                                                                <img class="product-image img-responsive" src="@product.BildURL">
                                                                <div class="pull-right mobile-version">
                                                                    <p class="product-name text-right">@product.Produktnamn</p>
                                                                    <p class="product-price text-right text-primary dp-block">@product.Pris<span>:-</span></p>
                                                                    <p class="text-right text-muted small">jmf.pris: <span class="product-jmf">@product.Jmf</span>:-/kg</p>
                                                                </div>
                                                            </li>
                                                            <li class="product-name list-group-item justify-content-between result-flex-item clearfix">@product.Produktnamn</li>
                                                            <li class="list-group-item justify-content-between result-flex-item clearfix">
                                                                <span class="product-price text-primary dp-block">@product.Pris<span>:-</span></span>
                                                                <span class="product-jmf text-muted small">jmf.pris: <span class="product-jmf">@product.Jmf</span>:-/kg</span>
                                                            </li>
                                                            <li class="list-group-item justify-content-between result-flex-item clearfix">
                                                                <input id="" class="product-count form-control" type="number" min="1" max="99" value="@product.Antal" disabled>
                                                                <span class="text-right text-muted"> st</span>
                                                            </li>
                                                        </ul>
                                                        <div class="result-item-info">
                                                            <p class="result-item-info-text">
                                                                @if (product.MatchType == ShoppingList.Models.MatchType.Match)
                                                                {<text>Varan matchades!</text>}
                                                                else if (product.MatchType == ShoppingList.Models.MatchType.Replaced)
                                                                {<text>Varan ersätter @product.Replaced</text>}
                                                                else
                                                                {<text>Varan hittades inte</text>}
                                                            </p>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>